In [49]:
import pandas as pd
from collections import Counter

In [46]:
df = pd.read_excel('https://docs.google.com/spreadsheets/d/e/2PACX-1vSi8oxfSYqPZMQKjb3jHIrvQllliPnCVFmt9mHsQKpNHZP5eLSoENGnAjCUFt7jz9mvsanNI3B-0oTE/pub?output=xlsx')

df.head(5)

,Pick 3 words that best describe your mother,"a scale of 1(negative) - 5(positive), how would rate the impact of your mum in your life",A quick lesson learned from your mum,What is your ethnic Background,What age range are you in?,Did you grow up in single parent or multi-parent household,What region are you from?,What is your Gender?
0,"funny, strict, responsible",5,Don't leave the lights on at night,Black/African,16-19,Single,North London,Male
1,"enthusiastic, strong, loving",3,The best things in life are free,Asian/ Asian British,45-49,Single,South London,Female
2,"helpful, angry, strict",2,Health = wealth,White,25-29,Couple,South London,Non-binary

In [47]:
words_df = pd.DataFrame()

Total_words_df = pd.DataFrame()

words_df[['1st', '2nd', '3rd']] = df['Pick 3 words that best describe your mother'].str.split(',', expand=True)

words1_counts = words_df['1st'].value_counts()
w1 = words1_counts.to_dict()
words_df[['words1_count']] = words_df['1st'].map(w1)

words2_counts = words_df['2nd'].value_counts()
w2 = words2_counts.to_dict()
words_df[['words2_count']] = words_df['2nd'].map(w2)

words3_counts = words_df['3rd'].value_counts()
w3 = words3_counts.to_dict()
words_df[['words3_count']] = words_df['3rd'].map(w3)

Total_words_df[[]]

print(words_df.drop_duplicates())

            1st      2nd           3rd  words1_count  words2_count  \
0         funny   strict   responsible             1             1
1  enthusiastic   strong        loving             1             1
2       helpful    angry        strict             1             1

   words3_count
0             1
1             1
2             1

In [53]:
wdict = Counter(w1) + Counter(w2) + Counter(w3)

total_words_df = pd.DataFrame.from_dict(wdict, orient ='index') 
print(total_words_df)

              0
enthusiastic  1
funny         1
helpful       1
 angry        1
 strict       2
 strong       1
 responsible  1
 loving       1

In [33]:
gender_df = pd.DataFrame()

gender_df[['gender']] = df['What is your Gender?']

gender_counts = df['What is your Gender?'].value_counts()

g1 = gender_counts.to_dict()

gender_df[['g_count']] = gender_df['gender'].map(g1)

print(gender_df.drop_duplicates())

       gender  g_count
0        Male        1
1      Female        1
2  Non-binary        1

In [34]:
age_df = pd.DataFrame()

age_df[['age']] = df['What age range are you in?']

age_counts = df['What age range are you in?'].value_counts()

a1 = age_counts.to_dict()

age_df[['age_count']] = age_df['age'].map(a1)

print(age_df.drop_duplicates())

     age  age_count
0  16-19          1
1  45-49          1
2  25-29          1

In [35]:
race_df = pd.DataFrame()

race_df[['ethnicity']] = df['What is your ethnic Background']

race_counts = df['What is your ethnic Background'].value_counts()

r1 = race_counts.to_dict()

race_df[['race_count']] = race_df['ethnicity'].map(r1)

print(race_df.drop_duplicates())

              ethnicity  race_count
0         Black/African           1
1  Asian/ Asian British           1
2                 White           1

In [36]:
hh_df = pd.DataFrame()

hh_df[['S_or_C']] = df['Did you grow up in single parent or multi-parent household']

hh_counts = df['Did you grow up in single parent or multi-parent household'].value_counts()

h1 = hh_counts.to_dict()

hh_df[['hh_count']] = hh_df['S_or_C'].map(h1)

print(hh_df.drop_duplicates())

    S_or_C  hh_count
0   Single         1
1  Single          1
2   Couple         1

In [38]:
loc_df = pd.DataFrame()

loc_df[['location']] = df['What region are you from?']

loc_counts = df['What region are you from?'].value_counts()

l1 = loc_counts.to_dict()

loc_df[['loc_count']] = loc_df['location'].map(l1)

print(loc_df.drop_duplicates())

       location  loc_count
0  North London          1
1  South London          2

In [54]:
loc_df.to_json('temp.json', orient='records', lines=True)